ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent
  ;
}

li {
  float: left;

}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.h4{
  border-bottom: ;
  justify-content: center;
}

li a:hover:not(.active) {
  background-color: transparent;

}

.active {
  
  background-color: transparent;
  color: black;
}

.topnav-right {
  float: right;
}
.topnav-left {
  float: left;
}

img {
  border-radius: 50%;
  width: 27vw;
  height: 33vh;
  border: 2px solid grey;
  padding: 2px;
}
.button1{
  border-radius: 12px;
  background-color: transparent; 
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  padding: 15px 25px;
  outline: none;
  color: grey;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button1:hover {background-color: #2eb7f363;}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2{
  border-radius: 12px;
  background-color: transparent; 
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  padding: 15px 25px;
  outline: none;
  color: grey;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button2:hover {background-color: #2eb7f363;}

.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.headshot{
   border: 1px solid transparent;
  background-color: transparent;
  width: 50%;
  display:flex;
  align-content: center;
  justify-content: center;

}

.info{
  border: 1px solid transparent;
  background-color: transparent;
  width: 50%;
  display:flex;
  align-content: center;
  justify-content:center;

}

.submit{
  border: 1px solid none;
  background-color: none;
  width: 50%;
 
}

}
.body{
  display:flex;
  flex-direction: column;
  background-color:none;
  margin: 5px;
  
}
div.body{
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}
div.info{
  display: flex;
  flex-direction: column;
  text-align: start;
}
section.row{
  display: flex;
  flex-direction: row;
  text-align: start;
}
section.row1{
  display:flex;
  justify-content: center;
}
div.column{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 30px;
}
h3.indent{
  text-indent: 30px
}