.header{
	background-color:blue;
	height:5%;
	width:100%;
	color:white;
	display: flex;
    justify-content: center;
    justify-content: space-around;
}
}
div.form{
	display:flex;
	flex-direction:column;
	justify-content: center;
	width:100%;
	height:70%;
	margin: 5px;
	padding:5px;
	padding: 20px;
	margin: 20px


}
div.input{
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding:20px;
	margin: 20px;



}
div.row1{
	display: flex;
	justify-content: center;
	padding:20px;
	margin: 20px;
}

 div.row2{
	display: flex;
	justify-content: center;
	padding:20px;
	margin: 20px;

}

div.services{
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding:20px;
	margin: 20px;
}
label{
	margin: 2px;
	padding:2px;
}
div.input{
	margin:5px;
	padding:5px;
}

body{
	background-image: url('https://wallpaperaccess.com/full/2059786.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
h3{
	text-align:center;
}
select.custom-select{
	display: flex;
	justify-content: center;
	width:20vw;
	position: relative;

}
button{
	width:20vw
	
}
ul{
	display: flex;
	flex-direction: column;
	align-items: center;

}
div.check{
	justify-content: center;
    display: flex;
}
div.input > select.custom-select{
	position: relative;

}