section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(211, 80, 220), rgb(226, 255, 148));
}
.container{
    
    display: flex;
    justify-content: center;

}
#inputField{

    border: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
#addToDo{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.listTasks{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, rgb(211, 80, 220), rgb(226, 255, 148));
}
h1{
    display: flex;
    justify-content: center ;
}
.label{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin: 5px;
    font-size: 20px;
    width: 30%
}